<div>
  <input type="button"
         [disabled]="(decrementDisabled$ | async)"
         class="btn btn-sm btn-primary"
         value="-"
         (click)="decrement()">
  <span>{{ current$ | async }}</span>
  <input type="button"
         class="btn btn-sm btn-primary"
         value="+"
         (click)="increment()">
</div>
<br>
<div>
  <input type="button"
         class="btn btn-sm btn-primary"
         value="Reset"
         (click)="reset()">
</div>
<br>
<div class="btn-group"
     role="group"
     aria-label="Basic example">
  <button type="button"
          [disabled]="(by$ | async) ===1"
          (click)="countBySet(1)"
          class="btn btn-secondary">Count By 1</button>
  <button type="button"
          [disabled]="(by$ | async) ===3"
          (click)="countBySet(3)"
          class="btn btn-secondary">Count By 3</button>
  <button type="button"
          [disabled]="(by$ | async) ===5"
          (click)="countBySet(5)"
          class="btn btn-secondary">Count By 5</button>
</div>
